.colors {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.colorsContent  {

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem;
    z-index: 2;
    width:min(99%, 900px);
    height: 80vh;
    box-shadow: 0px 0px 2px 0px var(--default-shadow);
    backdrop-filter: blur(5px);
    border-radius: 16px;
 

}

.titleColors {

    font-weight: 600;
    font-size: 22px;
    font-style: italic;

}

.colorsContent img {

    object-fit: cover;
    filter: saturate(1.2) sepia(0.3) brightness(.8) contrast(1.2);
    width: max(20vw, 300px);
    flex: 1px 8 1;
    user-select: none;
    -webkit-user-drag: none;

}

.radiosContent {

    align-self: flex-start;
    flex:20px 2 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}

.colorContent input {

    position: relative;
    z-index: 3;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;

}

.colorContent {

    width: 50px;
    height: 50px;
    border-radius: 4px;

}

.colorContent:hover {

    box-shadow: 0px 0px 0px 2px  var(--default-shadow);

}

.selectedColor {

    box-shadow: 0px 0px 0px 4px var(--default-shadow);

}

.colorContent:nth-child(1) {

    background-color: rgb(207, 14, 14);

}

.colorContent:nth-child(2) {

    background-color: rgb(23, 149, 25);

}

.colorContent:nth-child(3) {

    background-color: rgb(153, 178, 25);

}

.colorContent:nth-child(4) {

    background-color: rgb(95, 9, 98);

}

@keyframes pular {

    from {transform: scale(1.07);}
    to {transform: scale(1);}

}

.btnBuyContent {

    width: 100%;

}

.btnBuy {

    margin-top: 3rem;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:.4rem;
    border-radius: 4px;
    width: 150px;
    background: var(--ferrari-color);
    font-weight: 600;
    box-shadow: 0px 0px 1px 1px var(--default-shadow);
    padding: 8px;
    animation: .6s pular infinite ease  ;

}

.btnBuy:hover {

    font-weight: 700;
    animation: none;

}

.btnBuy:hover svg{

    transform: translateX(5px);

}

.btnBuy svg {

    transition: transform .2s cubic-bezier(0.47, 0, 0.745, 0.715);
    stroke-width: 1;

}