:root[data-theme="dark"] {

  --text-color:rgb(221, 213, 213);
  --bg-color: rgb(24, 22, 22);
  --ferrari-red: #8B0000;
  --btn-hover: var(--ferrari-red);
  --cream:#F5DEB3;
  --brown-leather: #8B4513;
  --default-shadow: rgba(255, 255, 255, 0.5);
  --hover-accent: hsla(0, 7%, 65%, 0.266);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {overflow: visible;}

html::-webkit-scrollbar {

  width: 6px;

}

html::-webkit-scrollbar-thumb {

  background-color: var(--ferrari-red);

}

html,
body {

  max-width: 100vw;
  height: 100%;
  behavior: smooth;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  padding: 1rem;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


a {

  color: inherit;
  text-decoration: none;

}

button {

  cursor: pointer;
  appearance: none;
  border: none;
  background-color: transparent;

}

button, input, textarea {

  color:inherit;
  font-family:inherit;

}

ul, li {

  list-style: none;

}