.abs {

    position: absolute;
    top:80%;
    right: 10%;

}

.btnBuyNow {

  
    padding: 8px;
    width: 200px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 1px 1px 0px 1.5px var(--default-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap:8px;

}

@keyframes arrowRightAnimation {

     to {

        transform: translateX(2px);

    }

}

.btnBuyNow > svg {

    stroke-width: 1;
    animation: arrowRightAnimation .5s  alternate-reverse infinite;

}

.btnBuyNow::before {

    position: absolute;
    left: 0;
    opacity: 0;
    animation: none;
    content: "";
    width: 0;
    height: 100%;
    background-color: var(--ferrari-red);
    transition: width .4s ease-in, opacity .4s ease-in;
    

}

.btnBuyNow:hover > svg {

    animation: none;

}

.btnBuyNow:hover > span, .btnBuyNow svg {

    position: relative;
    z-index: 1;

}

.btnBuyNow:hover::before {
    opacity: .7;
    width: 100%;

}
