.product {

    width: 100%;

}

.introduction {

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap:4rem;

}

.textContent {

    width: 80%;
    text-align: center;
    margin-top:min(30vw, 10rem);
    font-size: min(calc(2vw + 5vh / 2), 70px);
    font-weight: 900;
    line-height: 1.4em;

}

.btnProductModels {

    position: relative;
    width: 150px;
    min-height: 45px;
    height: 45px;
    padding: 8px;
    font-weight: 600;
    box-shadow: 0px 0px 1px 0px var(--default-shadow);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4px;
    overflow: hidden;
    background-color: var(--btn-color);

}

.btnProductModels:hover::after {

    width: 100%;

}

.btnProductModels:hover * {

    position: relative;
    z-index: 2;
    font-weight: 900;
    stroke-width: 4;

}

.btnProductModels::after {

    position: absolute;
    z-index: 1;
    top:0;
    left: 0;
    content: "";
    width: 0;
    height: 100%;
    background-color: var(--btn-hover);
    transition: width .6s cubic-bezier(0.23, 1, 0.320, 1);

}

.productModels {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;

}

.pictureContent {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:2rem;
    padding: 16px;
    border-radius: 8px;
    overflow: hidden;
    width: min(90%, 1200px);
    height: 500px;

}

.pictureSvg {

    position: relative;
    top:20px;
    opacity: .7;
    border-radius: 50%;
    flex: 1px 1 1;
    object-fit: contain;
    mix-blend-mode: difference;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: contrast(.98) brightness(1.1);
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;

}

.pictureSvg img {
    
    width: auto;
    height: auto;

 
}

.productModelsText {

    flex: 1px 1 1;
    padding: min(4rem, 2vw);
    font-size: min(22px, 5vw);
    line-height: 2em;
    hyphens: auto;
    word-break: keep-all;

}

.specific {

    position: relative;
    width: 100%;
    padding: 4rem 0;
    box-shadow: 0px 0px 2px 0px var(--default-shadow);
    min-height: 600px;
    display: flex;
    overflow: hidden;
    padding: min(3vw, 4rem);
    backdrop-filter: blur(6px);
    
}

.specific::after {
    
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    opacity: .6;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 50%);

}

.rightUl, .leftUl {

    z-index: 3;
    flex: 1px 1 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.rightUl svg, .leftUl svg {

    min-width: 32px;
    min-height: 32px;

}

.rightUl {

    align-items: flex-end;

}

.leftUl {

    align-items: flex-start;
    justify-content: flex-end;

}

.rightUl li, .leftUl li {

    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

}

@media (max-width:1180) {

    .pictureContent {

        flex-direction: column;

    }

    .specific {

        flex-direction: column;
        gap:4rem;
        border-radius: 16px;

    }

    .specific::after {

        height: 50%;
        clip-path: none;
    }


    .rightUl {

        align-items: flex-start;
        width: 100%;

    }

    .leftUl  li, .rightUl li{

        width: 100%;

    }

}
